@font-face {
    font-family: "rugidos_font";
    src: url(./fonts/Hand_Of_Sean_Demo.ttf);
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, Arial, Helvetica;
}

body {
    background: linear-gradient(135deg, #ffe6fa, #e2a3d3, #60047a);
}

/* Scroll 100dvh */
/* #inicio,
#servicios,
#instagram,
#galeria_fotos,
#ubicacion,
#extras, #google,
#footer {
    scroll-snap-align: center;
    scroll-snap-type: y proximity;
} */

.main-container {
    scroll-snap-type: y mandatory;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Scroll 100dvh */

/* Navigation bar */
.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 9999;
    min-height: 6.5rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1.5rem;
    background-color: transparent;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
}

.navbar__logo {
    width: 3rem;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 400;
    color: #262626;
}

.nav-link.show {
    color: #60047a;
    border: solid 0.2rem #383838;
    border-radius: 35%;
    padding: 0.4rem;
    display: inline-block;
    transform: rotate(-360deg);
    transition: transform 0.3s ease;
}

.nav-link:hover {
    color: #60047a;
    transition: 0.3s;
}
/* Navigation bar */

/* Navigator bar mobile */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #363636;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-0.5rem) rotate(-45deg);
    }

    .navbar__menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        height: 100%;
        flex-direction: column;
        background-color: #262626;
        width: 100vw;
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
        justify-content: center;
    }

    .nav-item {
        margin: 0.8rem 0;
    }

    .navbar__menu.active {
        left: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
    }
}
.navbar__menu.active {
    gap: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
}
.navbar__menu.active .nav-link {
    color: #fbf9e5;
}
@media (max-height: 800px) {
    .navbar__logo {
        width: 2rem;
    }
}
/* Navigator bar mobile */

/* Inicio */
#inicio {
    display: flex;
    height: 100dvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio__logo {
    width: clamp(10rem, 15vw, 14rem);
    height: auto;
    margin-top: 8vh;
}

.inicio__subtitle {
    font-family: "Roboto";
    font-weight: 500;
    margin-inline: auto;
    font-size: clamp(1.1rem, 4vw, 1.5rem);
    color: #262626;
}

.inicio__redes_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2dvh;
}

.inicio__redes_container img {
    max-width: clamp(2.5rem, 3vw, 2.8rem);
}

.hidden.inicio__logo {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 3s;
}

.inicio__logo.show {
    transform: translateX(0);
    opacity: 1;
}

.hidden.inicio__subtitle {
    opacity: 0;
    transform: translateX(100%);
    transition: all 3s;
}

.inicio__subtitle.show {
    transform: translateX(0);
    opacity: 1;
}
/* Inicio */

/*Instagram */
#instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

#instagram a[href*="elfsight.com/instagram-feed-instashow"] {
    filter: opacity(0) !important; /* hide watermark */
}
.es-widget {
    margin-top: 15dvh;
    overflow: hidden;
}

/*Instagram */

/* Galeria de fotos */
#galeria_fotos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: linear-gradient(135deg, #f3f3f3, #d8bfd8, #60047a);
}

.galeria_fotos__mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding-left: 1vw;
}

.galeria_fotos__mensaje img {
    width: 2rem;
}

.galeria_fotos__mensaje span {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.5rem;
    margin-inline: 0.3rem;
}

.galeria_fotos__container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.galeria_fotos__slides {
    display: none;
    margin-top: 4.5rem;
    width: clamp(20rem, 65vw, 55rem);
    margin-inline: auto;
    max-height: 75vh;
    border-radius: 0.6rem;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    margin-top: 2rem;
    width: auto;
    padding: clamp(0.5rem, 2vw, 1rem);
    color: #60047a;
    font-size: 2rem;
    background-color: #ffffff;
    user-select: none;
}

.prev {
    left: 0;
}
.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: #add8e64d;
}

.galeria_fotos__dots_container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1.5rem;
    user-select: none;
}

.dots {
    display: inline-block;
    cursor: pointer;
    height: clamp(0.5rem, 1vw, 2rem);
    width: clamp(0.5rem, 1vw, 2rem);
    margin-right: 0.5rem;
    background-color: #606868;
    border-radius: 50%;
}

.galeria_fotos__active,
.dots:hover {
    background-color: #ffffff;
}

.animate {
    -webkit-animation-name: animate;
    animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
}

@keyframes animate {
    from {
        transform: scale(1.1) rotateY(10deg);
    }
    to {
        transform: scale(1) rotateY(0deg);
    }
}
/* Galeria de fotos */

/* Servicios */
#servicios {
    min-height: 85dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicios__cont {
    margin-top: 1dvh;
}
.accordion {
    margin-bottom: 0.8rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.accordion_title {
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #4a2c6d;
    color: #ffffff;
    width: 80vw;
    max-width: 40rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion_title:hover {
    background-color: #3a1c5d;
}
.accordion_content {
    width: 80vw;
    max-width: 40rem;
    padding: 0.5rem;
    display: none;
    background-color: #ffffff;
    border-radius: 1rem;
    color: #383838;
}
.accordion_content ul {
    list-style-type: disc;
    padding-left: 20px;
}
.accordion_content ul li {
    margin: 0.7rem 0;
}
.accordion_arrow {
    transition: transform 0.3s;
}
.accordion.active .accordion_content {
    display: block;
}
.active .accordion_arrow {
    transform: rotate(180deg);
    color: #057505;
}

.servicios__importantes {
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #00000033;
    color: #3a1d5a;
    line-height: 1.4;
    margin: 1rem 1rem;
}
.servicios__importantes ul {
    list-style-image: url("./img/globo_bullet.png");
}
.servicios__importantes li {
    opacity: 0;
    transform: translateY(1.875rem) scale(0.95);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.servicios__importantes.show li {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.servicios__importantes.show li:nth-child(1) {
    transition-delay: 0.1s;
}
.servicios__importantes.show li:nth-child(2) {
    transition-delay: 0.3s;
}
.servicios__importantes.show li:nth-child(3) {
    transition-delay: 0.5s;
}

/* Servicios */

/* Extras */
#extras {
    background: linear-gradient(135deg, #f3f3f3, #d8bfd8, #60047a);
    min-height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.extras__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10dvh;
}

.extras__container .accordion.active .accordion_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
}

.accordion_content img {
    width: 50%;
    object-fit: contain;
    margin-bottom: 0.7rem;
    display: block;
    margin-inline: auto;
}
.extras__header {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.accordion_content p {
    text-align: justify;
    font-size: 1.1rem;
    color: #383838;
    font-weight: 400;
}
/* Extras */

/* Reseñas */
#reseñas {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin-inline: 1rem;
    padding-top: 15dvh;
}
#reseñas a[href*="elfsight.com/google-reviews-widget"] {
    filter: opacity(0) !important; /* hide watermark */
}
.es-widget {
    padding-top: 15dvh;
    overflow: hidden;
}
/* Reseñas */

/* Ubicacion */
#ubicacion {
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

#ubicacion iframe {
    width: 85vw;
    height: 80dvh;
    border-radius: 0.3rem;
}
/* Ubicacion */

/* Footer */
#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #262626;
    height: 6rem;
    margin-top: 1rem;
}

.footer__logo {
    width: clamp(5.5rem, 1vw, 7rem);
    margin-inline: 0.5rem;
}

#footer span {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", "Arial";
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-weight: 0;
    margin-right: 0.7rem;
}

#footer .footer__phone {
    display: flex;
    align-items: center;
}

.footer__phone img {
    max-width: clamp(0.9rem, 3vw, 2.8rem);
    margin-right: 0.5rem;
}

.footer__redes_container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1 1 auto;
    max-width: calc(33% - 3.125rem);
    gap: 1rem;
}

.footer__redes_container img {
    max-width: clamp(1.3rem, 3vw, 2.8rem);
}

/* Footer */

/* Widget Whatsapp */
.wsp_logo {
    position: fixed;
    bottom: 3rem;
    right: 2.5rem;
    width: 4rem;
    max-width: 50%;
    height: auto;
    padding: 1rem;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 4rem;
    box-shadow: 4px 4px 10px rgba(32, 32, 32, 0.2);
    z-index: 100;
}
/* Widget Whatsapp */
